@import "./common";
#home-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px $frame;
    margin-bottom: $frame;
}
.spacer {
    width: $frame;
}
.button {
    z-index: 3;
    user-select: none;
    cursor: pointer;
    position: relative;
    flex: 1;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $base-color-lighter;

    border: 3px solid transparent;
    transition: 0.3s ease-in-out;

    .text {
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        font-size: 20px;
        z-index: 3;
    }

    .line {
        position: absolute;
        transition: height 0.2s $easer, width 0.2s $easer 0.2s, transform 0.2s $easer 0.4s,
            background-color 0.4s ease-in-out;
        width: 80px;
        height: 2px;
        background-color: black;
        transform: rotate(45deg);

        &.other {
            transform: rotate(-45deg);
        }
    }

    &:hover {
        border: 3px solid $complementary-color;
        .line {
            transition: transform 0.2s $easer, width 0.2s $easer 0.2s, height 0.2s $easer 0.4s,
                background-color 0.45s ease-in-out;
            transform: rotate(0deg);
            width: 100%;
            height: 100%;
            background-color: $secondary-color;
        }
    }
}
