@import "./common";

#features-page {
    z-index: 3;
}

.features-overview {
    padding: 100px $frame;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $base-color-lighter;
    position: relative;

    .mockup {
        width: 20%;
        margin: 0px $frame / 2;
    }

    .left,
    .right {
        display: flex;
        flex-direction: column;
        z-index: 3;
        .feature-short {
            margin-bottom: 50px;
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 20px 40px;
            background-color: $complementary-color;
            border-radius: 10px;
            z-index: 3;
            box-shadow: $shadow-1;
            transition: 0.3s $easer;
            &:hover {
                box-shadow: $shadow-hover;
            }
            .text {
                font-size: 20px;
            }
            .circle {
                position: absolute;
                border: 2px solid $base-color;
                top: 0px;
                border-radius: 50%;
                width: 20px;
                height: 20px;
            }
        }
    }

    .left {
        align-items: flex-end;
        .feature-short {
            align-items: flex-end;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
            &:hover {
                transform: translateX(-10px);
            }
            &.middle {
                margin-right: 50px;
            }
            .circle {
                left: 0px;
                transform: translate(-50%, -50%);
            }
        }
    }
    .right {
        align-items: flex-start;
        .feature-short {
            align-items: flex-start;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            &:hover {
                transform: translateX(10px);
            }
            &.middle {
                margin-left: 50px;
            }
            .circle {
                right: 0px;
                transform: translate(50%, -50%);
            }
        }
    }

    .square {
        box-shadow: $shadow-2;
        width: 40vw;
        height: 40vw;
        background-color: $secondary-color;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 30px;
        transform: rotate(30deg);
        margin-top: 10%;
        margin-right: -20%;
        z-index: 2;

        &.second {
            background-color: $base-color;
            margin-right: -25%;
            margin-top: 10%;
            width: 35vw;
            height: 35vw;
            transform: rotate(45deg);
        }
    }
}

.features-details-container {
    position: relative;

    .square {
        position: absolute;
        width: 30vw;
        height: 30vw;
        border-radius: 20px;
        background-color: $complementary-color;
        top: 0px;
        left: 0px;
    }
}
