@import "./common";

#landing-page {
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.text-container {
    position: relative;
    z-index: 3;

    .title {
        margin-top: 20vh;
        padding-left: $frame - 5px;
        border-left: 5px solid $complementary-color;
        margin-bottom: 20px;

        .text {
            font-size: 80px;
            font-weight: 700;
        }
    }

    .slogan {
        padding-left: $frame;
        margin-bottom: 50px;

        .text {
            font-size: 40px;
            font-size: 400;
        }
    }

    .buttons-wrapper {
        padding-left: $frame;

        .button {
            height: 70px;
            margin-right: 20px;
            cursor: pointer;
        }
    }
}

.illustration {
    z-index: 3;
    position: relative;
    width: 40vw;
    right: $frame;
}

.square {
    z-index: 1;
    position: absolute;
    width: 60vw;
    height: 60vw;
    border-radius: 60px;
    top: -30vw;
    left: -10vw;
    background-color: $secondary-color;
    transform: rotate(45deg);
}
